body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

a {
  color: #61dafb;
}

header {
  font-size: 150%;
}

main {
  margin: 5rem 0;
}
