body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: 125%;
  align-items: center;
  justify-content: center;
  color: white;
}

body > div {
  max-width: 600px;
  margin: 2.5rem auto;
}

h1 {
  margin: 0;
}

a {
  color: #61dafb;
}

header {
  font-size: 125%;
}

main {
  margin: 5rem 0;
}

.home-tabs .react-tabs__tab-list {
  margin: 0;
  border: none;
}
.home-tabs .react-tabs__tab {
  padding: 0.75rem 1rem;
}
.home-tabs .react-tabs__tab:focus:after {
  background-color: #282c34;
}
.home-tabs .react-tabs__tab--selected {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-weight: bold;
}
.home-tabs .react-tabs__tab-panel {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 500px;
  padding: 2rem;
  border-radius: 0.2rem;
}

form label {
  display: block;
  width: 100%;
}
form label span {
  display: block;
  margin-bottom: 1rem;
}
form input {
  font: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.2rem;
  border: none;
  margin-bottom: 1rem;
}
form button {
  font: inherit;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #61dafb;
}

form button + p {
  font-size: 80%;
  margin-top: 2.5rem;
}

.loading img {
  height: 5rem;
}

.error {
  background-color: #9d2e2c;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
}

.citations article {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
}
.citations article h3,
.citations article p {
  margin: 0;
  font-size: 100%;
}
